* {
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: xxx-large;
}

form {
    scale: 150%;
}